VITE_AVAILABILITY_STATUS=Available within 7 days
VITE_WORK_PREFERENCE=Ahmedabad or remote
VITE_REMOTE_TIMEZONE=Flexible across time zones
VITE_TARGET_ROLE=Senior Software Developer
VITE_LINKEDIN_URL=https://www.linkedin.com/in/kanzariyahardik
VITE_GITHUB_URL=https://github.com/hardiknk
